* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;

  min-width: 1200px;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.iframe {
  border: none;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.visibility-hidden {
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.main-header {
  position: relative;
  color: #000000;

  background-color: #ffffff;
  min-height: 56px;
}
.container {
  width: 1200px;
  margin: 0 auto;

  -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));

          filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
}
.main-navigation ul {
  padding: 0 6%;
  margin: 0;

  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
}
.main-navigation li:nth-child(4n+1) {
  margin-right: 30px;
}
.main-navigation li:nth-child(4n+2) {
  margin-right: 147px;
}
.main-navigation li:nth-child(4n+3) {
  margin-right: 33px;
}
.main-navigation li:nth-child(1n+4), .main-navigation li:nth-child(4n+2)  {
  text-align: left;
}
.main-navigation li:nth-child(4n+3), .main-navigation li:nth-child(4n+4) {
  text-align: right;
}
.main-navigation a {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:active {
  color: rgba(0,0,0,0.3);
}
.main-navigation-active {
  color: #766357;
}
.index-logo {
  position: absolute;
  z-index: 2;

  top: 0px;
  left: 50%;

  -webkit-transform: translate(-50%, 0%);

          transform: translate(-50%, 0%);
}
.top-background {
  background-image: url('../img/main-background.jpg');
  background-repeat: no-repeat;
  background-color: #eeeeee;
  width: 100%;
  height: 508px;

  position: relative;
  z-index: 1;
}
.top-background::after {
  background-image: url('../img/afterback.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;

  content: '';

  position: absolute;
  bottom: 0;
}
.headline {
  text-align: center;

  color: #000000;

  background-color: #ffffff;

  padding: 0 355px;
  padding-top: 60px;
  padding-bottom: 50px;
}
.main-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 28px;
}
.main-subtitle {
  font-size: 14px;
  color: #333333;
  line-height: 26px;

  padding: 0;
  margin: 0;
}
.main-content-top {
  min-width: 1200px;
  width: 100%;
}
.main-content-top .sidebar-left {
  float: left;

  width: 408px;

  text-align: center;
  word-wrap: break-word;

  color: #ffffff;

  background-color: #81b3d2;

  padding-top: 48px;
  padding-bottom: 58px;
  padding-left: 50px;
  padding-right: 55px;
}
.main-content-top .sidebar-name {
  display: block;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 23px;
}
.main-content-top .sidebar-subtitle {
  display: block;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  margin-left: 50px;
  margin-right: 45px;
  margin-bottom: 22px;
}
.main-content-top .sidebar-text {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  margin: 0;
}
.main-content-top .sidebar-right {
  float: right;

  background-image: url('../img/realtown.jpg');
  background-repeat: no-repeat;
  width: 66%;
  height: 256px;
}
.first-benefits {
  width: 100%;

  color: #000000;

  background-color: #ffffff;
  text-align: center;
}
.first-benefits-item {
  position: relative;
  width: 33.33333%;
  float: left;

  padding-top: 162px;
  padding-bottom: 82px;
}
.first-benefits-item:nth-child(3n+1) {
  padding-left: 70px;
  padding-right: 70px;
}
.first-benefits-item:nth-child(3n+2) {
  padding-left: 50px;
  padding-right: 50px;
}
.first-benefits-item:nth-child(3n+3) {
  padding-left: 45px;
  padding-right: 45px;
}
.first-benefits-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;

  margin: 0;
}
.first-benefits-house {
  background-image: url('../img/accomodation.png');
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;

  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: 60px;
}
.first-benefits-food {
  background-image: url('../img/food.png');
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;

  position: absolute;
  left: 50%;
  margin-left: -36px;
  top: 61px;
}
.first-benefits-gifts {
  background-image: url('../img/gift.png');
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;

  position: absolute;
  left: 50%;
  margin-left: -31px;
  top: 56px;
}
.first-benefits-housename {
  display: block;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  word-wrap: break-word;

  margin-bottom: 23px;
}
.first-benefits-foodname {
  display: block;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  word-wrap: break-word;

  margin-bottom: 23px;
}
.first-benefits-giftsname {
  display: block;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  word-wrap: break-word;

  margin-bottom: 23px;

}
.main-content-middle {
  max-width: 1200px;
  width: 100%;
  height: 256px;
}
.main-content-middle .sidebar-left {
  float: left;

  background-image: url('../img/devil.jpg');
  background-repeat: no-repeat;
  background-color: #eeeeee;
  width: 66%;
  height: 256px;
}
.main-content-middle .sidebar-right {
  float: right;

  color: #ffffff;

  background-color: #81b3d2;
  width: 408px;

  text-align: center;
  word-wrap: break-word;

  padding-top: 47px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 45px;
}
.main-content-middle .sidebar-name {
  display: block;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 23px;
}
.main-content-middle .sidebar-subtitle {
  display: block;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  padding-bottom: 21px;
}
.main-content-middle .sidebar-text {
  display: block;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  margin: 0;
}
.second-benefits {
  position: relative;
  z-index: 10;
  max-width: 1200px;
  width: 100%;

  color: #000000;

  background-color: #eeeeee;
}
.second-benefits-item {
  width: 33.33333%;
  float: left;

  text-align: center;
  word-wrap: break-word;

  padding-top: 48px;
  padding-bottom: 59px;
  padding-left: 60px;
  padding-right: 60px;
}
.second-benefits-name {
  display: block;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 23px;
}
.second-benefits-subtitle {
  display: block;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  margin-bottom: 21px;
}
.second-benefits-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  margin: 0;
}
.second-benefits-firsttext {
  margin-left: 30px;
  margin-right: 30px;
}
.interest-block {
  position: relative;
  z-index: 20;
  width: 1200px;

  color: #000000;

  background-color: #ffffff;

  text-align: center;

  padding-top: 58px;
  padding-left: 370px;
  padding-right: 370px;
  padding-bottom: 135px;
}
.interest-block .bottom-title {
  display: inline-block;

  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  vertical-align: top;

  margin-bottom: 30px;
}
.interest-block .bottom-subtitle {
  display: block;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;

  margin: 0;
}
.form-headline {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 570px;
  height: 85px;

  color: #ffffff;

  background-color: #766357;

  text-align: center;
  cursor: pointer;

  -webkit-transform: translate(-50%, -100%);

          transform: translate(-50%, -100%);
}
.form-headline a {
  display: inline-block;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
  color: #ffffff;

  margin-top: 31px;
}
.search-popup {
  position: relative;
}
.search-form {
  width: 570px;

  color: #000000;
  word-wrap: break-word;

  background-color: #ffffff;

  -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));

          filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));

  padding-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
  margin: 0;

  position: absolute;
  z-index: 3;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@-webkit-keyframes show-form{
  0% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}
@keyframes show-form{
  0% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}
.search-form-show {
  display: block;
  z-index: 0;
  -webkit-animation-name: show-form;
          animation-name: show-form;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.search-form-hide {
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.form-line {
  position: relative;
  float: left;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 13px;
}
.form-line:nth-child(2) {
  margin-bottom: 20px;
}
.form-line label {
  display: inline-block;

  line-height: 40px;
  vertical-align: top;

  float: left;
  width: 112px;

  margin-left: 3px;
}
.form-line input {
  float: left;
  width: 345px;
  height: 40px;

  border: none;
  font: inherit;
  background-color: #f2f2f2;

  padding-left: 12px;
  padding-right: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
}
.form-line input:hover {
  background-color: #ebebeb;
}
.form-line input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}
.form-line-calendar {
  position: absolute;
  top: 50%;
  right: 9px;

  -webkit-transform: translate(0%, -50%);

          transform: translate(0%, -50%);

  cursor: pointer;


  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -5px -5px;
  width: 21px;
  height: 22px;
}
.form-line-calendar:hover {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -67px -5px;
  width: 21px;
  height: 22px;
}
.form-line-calendar:active {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -36px -5px;
  width: 21px;
  height: 22px;
}
.form-tourists {
  float: left;

  width: 50%;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  margin-bottom: 53px;
}
.form-tourists label {
  display: inline-block;

  float: left;
  width: 112px;

  vertical-align: top;

  padding-top: 7px;
  padding-bottom: 7px;
}
.form-tourists-count {
  float: right;
  width: 115px;
}
.child-field label {
  padding-left: 50px;
}
.form-tourists-count input {
  position: relative;
  z-index: 0;
  float: left;

  width: 35px;
  height: 40px;

  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
.form-tourists-count input:focus {
  outline: none;
}
.count-button {
  position: relative;
  z-index: 1;
  float: left;

  width: 38px;
  height: 40px;

  background-color: #f2f2f2;
  border: none;
  cursor: pointer;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #a9a9a9;

  padding: 0;
  margin: 0;
}
.count-button:hover {
  color: #000000;
}
.count-button:active {
  color: #81b3d2;
}
.show-results {
  width: 100%;

  background-color: #81b3d2;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  border: none;
  cursor: pointer;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}
.show-results:hover {
  background-color: #669ec0;
}
.show-results:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.map {
  background-color: #eeeeee;
  width: 1200px;
  height: 593px;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
}
.main-footer {
  position: relative;
  width: 1200px;

  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);

  padding-top: 36px;
  padding-bottom: 36px;
  margin-top: -120px;
}
.footer-contact {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;

  float: left;

  width: 33.33333%;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.footer-contact a {
  text-decoration: none;
  color: #000000;
}
.footer-social {
  float: left;

  width: 33.33333%;

  text-align: center;

  padding-left: 40px;
  padding-right: 40px;
}
.social-btn-twit::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -281px -5px;
  width: 17px;
  height: 15px;
}
.social-btn-twit:active::before {
  opacity: 0.3;
}
.social-btn-fb::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -234px -5px;
  width: 10px;
  height: 19px;
}
.social-btn-fb:active::before {
  opacity: 0.3;
}
.social-btn-youtube::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -308px -5px;
  width: 20px;
  height: 16px;
}
.social-btn-youtube:active::before {
  opacity: 0.3;
}
.social-btn {
  position: relative;

  display: inline-block;
  vertical-align: top;

  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  margin: 0;
  margin-right: 5px;
}
.social-btn:nth-child(5n+1) {
  margin-bottom: 5px;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:last-child {
  margin-right: 0;
}
.footer-copyright {
  position: relative;

  float: left;
  width: 33.33333%;
  height: 39px;
}
.copyright-img {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -36%);

          transform: translate(-50%, -36%);

  background-image: url('../img/copyright.png');
  background-repeat: no-repeat;
  width: 195px;
  height: 39px;
}
.copyright-img:hover {
  background-image: url(../img/copyright-hover.png);
  background-repeat: no-repeat;
  width: 195px;
  height: 39px;
}
.copyright-img:active {
  background-image: url(../img/copyright-active.png);
  background-repeat: no-repeat;
  width: 195px;
  height: 39px;
}

/* inner.html  */
.search-background {
  background: url('../img/filter-background.jpg');
  background-size: cover;
  background-color: #cecece;
}
.search-block {
  padding-top: 28px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 31px;
}
.search-column {
  float: left;
  max-width: 240px;

  border: none;
  word-wrap: break-word;

  padding: 0;
  padding-right: 50px;
  margin: 0;
  margin-right: 71px;
}
.search-column legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;

  margin-bottom: 24px;
}
.type-checkbox {
  list-style: none;
  margin: 0;
  padding: 0;
}
.type-checkbox li {
  padding-bottom: 2px;
  padding-left: 40px;

  margin-bottom: 22px;
}
.type-checkbox li:last-child {
  margin-bottom: 0;
}
.type-checkbox input[type="checkbox"] {
  border: 0;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.type-checkbox label {
  position: relative;
  cursor: pointer;

  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.type-checkbox label::before {
  position: absolute;
  top: 0;
  left: -40px;
  content: '';

}
.type-checkbox input[type=checkbox] ~ label::before {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -170px -5px;
  width: 22px;
  height: 22px;
}
.type-checkbox input[type=checkbox]:disabled ~ label::before {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -202px -5px;
  width: 22px;
  height: 22px;
}
.type-checkbox input[type=checkbox]:checked ~ label::before {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -98px -5px;
  width: 26px;
  height: 22px;
}
.type-checkbox input[type=checkbox]:checked:disabled ~ label::before {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -134px -5px;
  width: 26px;
  height: 22px;
}
.search-column label:last-child {
  margin-bottom: 0;
}
.search-column-range {
  float: right;

  width: 317px;

  border: none;
  color: #ffffff;

  padding: 0;
  margin: 0;
}
.range-title {
  max-width: 270px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  word-wrap: break-word;

  margin-bottom: 9px;
}
.price-filter {
  position: relative;

  height: 36px;

  border: 2px solid #ffffff;
  border-radius: 2px;

  white-space: nowrap;

  margin-bottom: 20px;
}
.price-filter::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.price-filter .min-price,
.price-filter .max-price {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;

  display: inline-block;
  vertical-align: top;

  padding-top: 7px;
  padding-bottom: 7px;
}
.min-price input,
.max-price input {
  position: absolute;

  width: 100%;
  color: inherit;
  font: inherit;
  text-align: center;
  text-transform: uppercase;

  background: none;
  border: none;
  cursor: pointer;
}
.min-price label,
.max-price label {
  position: absolute;

  cursor: pointer;

  padding-top: 2px;
  padding-bottom: 2px;
}
.min-price input:focus,
.max-price input:focus {
  outline: none;
}
.min-price input:focus ~ label,
.max-price input:focus ~ label {
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.min-price label {
  left: 64px;
}
.max-price label {
  right: 50px;
}
.price-range {
  position: relative;
  margin-bottom: 32px;
}
.price-range .scale {
  height: 2px;

  color: #000000;

  background-color: rgba(255, 255, 255, 0.3);
}
.price-range .bar {
  width: 80%;
  height: 2px;

  color: #000000;

  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  padding: 2px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.show-hotels {
  display: block;
  max-width: 135px;
  margin: 0 auto;
  padding: 6px 30px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
.show-hotels:hover {
  background-color: #ffffff;
  color: #000000;
}
.show-hotels:focus {
  outline: auto;
}
.filter-results {
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
}
.results-preview {
  position: relative;

  padding-top: 31px;
  padding-bottom: 29px;
  padding-left: 73px;
  padding-right: 120px;
}
.results-preview .finded {
  float: left;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  margin-right: 52px;
}
.sorting-block {
  float: left;
  max-width: 760px;

  font-size: 12px;
  line-height: 18px;

  margin-top: 5px;
}
.sorting-block .sorting {
  margin-right: 35px;
}
.sorting-block a {
  text-decoration: none;
  color: #e0e0e0;

  border-bottom: 1px solid #e0e0e0;
  border-bottom-style: dotted;

  margin-right: 30px;
}
.sorting-block a:hover {
  color: #81b3d2;
  border-color: #81b3d2;
}
.sorting-block a:active {
  color: #000000;
  border: none;
}
.sorting-active {
  color: #81b3d2;
  border: none;
}
.sorting-block a:last-child {
  margin-right: 0;
}
.arrows-block {
  position: absolute;

  top: 39px;
  right: 75px;
}
.arrows-block .arrow-up {
  float: left;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #cccccc;

  margin-right: 10px;
}
.arrows-block .arrow-down {
  float: left;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #cccccc;
}
.arrows-block .arrow-up:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000000;

  cursor: pointer;
}
.arrows-block .arrow-up:active {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #81b3d2;

  cursor: pointer;
}
.arrows-block .arrow-down:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000000;

  cursor: pointer;
}
.arrows-block .arrow-down:active {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #81b3d2;

  cursor: pointer;
}
.active-arrow-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #81b3d2;
}
.active-arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #81b3d2;
}
.hotels-list {
  width: 1200px;
}
.hotel-block {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  padding-top: 30px;
  padding-left: 72px;
  padding-right: 74px;
  padding-bottom: 28px;
}
.hotel-img {
  float: left;
  width: 135px;
  height: 90px;

  margin-right: 30px;
}
.hotel-description {
  float: left;
  max-width: 530px;

  word-wrap: break-word;
}
.hotel-name {
  float: left;
}
.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.hotel-name a:hover {
  color: #81b3d2;
}
.hotel-name a:active {
  color: #000000;
  opacity: 0.3;
}
.accommodation-type {
  float: left;
  clear: both;

  width: 110px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;

  margin-right: 6px;
  margin-bottom: 15px;
}
.living-cost {
  float: left;

  width: 140px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;

  margin-bottom: 17px;
}
.info-btn {
  float: left;
  clear: both;

  max-width: 110px;
  background-color: #81b3d2;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 10px;
}
.info-btn:hover {
  background-color: #669ec0;
}
.info-btn:active {
  background-color: #5496bd;
}
.info-btn::before {
  content: '';
  color: #ffffff;
}
.info-btn:active::before {
  opacity: 0.3;
}
.reservation-btn {
  float: left;

  max-width: 140px;
  background-color: #766357;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
.reservation-btn:hover {
  background-color: #604e43;
}
.reservation-btn:active {
  background-color: #503e33;
}
.hotel-rating {
  float: right;
}
.hotel-rating-stars {
  float: right;

  max-width: 115px;
  word-wrap: break-word;

  margin-bottom: 47px;
}
.hotel-rating-stars .star {
  float: left;

  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -254px -5px;
  width: 17px;
  height: 17px;

  margin-right: 4px;
}
.hotel-rating-number {
  float: right;
  clear: both;

  max-width: 110px;
  background-color: #f2f2f2;

  font-size: 14px;
  line-height: 21px;
  color: #666666;
  text-align: center;
  word-wrap: break-word;

  padding: 2px 11px;
}
.main-footer-in {
  margin-top: 0;
  background-color: #ffffff;
}
